:markdown

  The [Edge Team](/handbook/quality/edge) Lead is responsible for leading the various
  initiatives that relate to improving GitLab through community contributions
  and other external projects.

  The Edge Lead reports to the Director of Quality.
