---
layout: markdown_page
title: Find a Speaker
---

## Table of Contents
{:.no_toc}

- TOC
{:toc}

<!--
The data used in this page can be found in <a href="https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/data/speakers.yml">data/speakers.yml</a>.
-->

<!--
Possible statuses are:
* pending
* declined
* active
* alumni
-->

## Organizing an event? Looking for a speaker from GitLab?
{:.no_toc}

Look no further. Here's a list of awesome speakers from the GitLab team. Feel
free to reach out directly to the speakers listed.

## Speakers

<% regions = data.speakers.flat_map { |speaker| speaker.region }.uniq.reject { |region| region.nil? } %>

<% regions.each do |region| %>

### <%= region %>

  <ul>
  <% data.speakers.select { |speaker| speaker.region == region && speaker.status == 'active' }.each do |speaker| %>
    <li>
      <ul>
        <li>Name: <%= speaker.name %></li>
        <li>Email: <%= link_to speaker.email, "mailto:#{speaker.email}" %></li>
        <li>Specialty: <%= speaker.specialty %></li>
        <li>Location: <%= link_to speaker.location, "https://maps.google.com/?q=#{escape_html(speaker.location)}" %></li>
        <% if speaker.presentations.present? %>
          <li>
            Presentations: <ul>
            <% speaker.presentations.each do |presentation| %>
              <li><%= link_to scrape_title(presentation), presentation %></li>
            <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
  </ul>

<% end %>

## Still couldn't find a speaker?

Reach out via the form below, we'll try to find one for you.

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc6jQWbh-63myQu7EBuZZ0KY2J_EKSAZPH6OP2TURNBmfMjtg/viewform?embedded=true" width="760" height="300" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
