---
layout: comparison_page
trial_bar: true
suppress_header: true
title: "GitLab Enterprise Edition Premium vs. GitHub Enterprise | GitLab compared to other tools"
image_title: '/images/comparison/title_image.png'
extra_css:
  - compared.css
  - release-posts.css
extra_js:
  - comparison.js
  - bootstrap-tooltip.js
---

- competitors = data.features.competitors
= partial "includes/comparison_table", locals: { comparison_block: data.features.comparisons.gitlab_eep_vs_github_enterprise, product_one: competitors.gitlab_eep, product_two: competitors.github_enterprise, key_one: :gitlab_eep, key_two: :github_enterprise }
